@import "../constants/common.module.scss";

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.sidemenu {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: width 0.2s ease-in-out;
  overflow: hidden;
  flex-shrink: 0;
  background-color: $primary-color;
  color: $font-color;
  box-shadow: $default_shadow;
}

.sidemenu_collapse {
  composes: sidemenu;
  width: 70px;
}

.brand {
  height: 24%;
  border-bottom: $default_border;
}

.menus {
  flex-grow: 1;
  border-bottom: $default_border;
  padding: 2rem 0;
}

.settings {
  height: 34%;
  border-bottom: $default_border;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
}

.footer:hover {
  background-color: lightgray;
  opacity: 0.1;
  cursor: pointer;
}

.main {
  padding: 2rem;
  flex-grow: 1;
  overflow-y: auto;
}

.menuItem {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding-left: 20%;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 4px;
  transition: all 0.5s;
}

.menuItem label {
  cursor: inherit;
}

.menuItem:after {
  content: "»";
  opacity: 0;
}
.menuItem:hover {
  padding-left: 18%;
}

.menuItem:hover::after {
  opacity: 0.9;
}

.selected {
  background-color: $secondary-color;
}

.selected:after {
  opacity: 0.9;
}
