.grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-row-gap: 2rem;
  grid-column-gap: 0.8rem;
}

.grid::after {
  content: "";
  flex: auto;
}
